* {
    padding: 0;
    margin: 0;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px 10px;
}
#root {
    background: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Game {
    background: white;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.Header {
    padding: 10px;
    display: flex;
}



.MainMenu {
    padding: 10px;
}

.MainMenu button {
    padding: 30px;
    border-style: solid;
    border-color: white;
    background: white;
}

.MainMenu button:hover {
    background: navajowhite;
}
.MainMenu img {
    width: 75px;
}






.RaceViewContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.RaceHeader {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.RaceView {
    padding: 5px;
    width: 100%;
}

.RacerContainer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.RacerName {
    text-align: center;
    width: 10%;
}
.RacerWPM {
    text-align: center;
    width: 10%;
}
.RacerLane {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    background: blue;
}

.Racer {
    position: relative;
    background: red;
    width: 5%;
    height: 20px;
}








.TypingParagraph {
    width: 95%;
    background: white;
    padding: 5px;
}


.TypingParagraph span {
    font-size: 20px;
}

.TypingParagraph .inProcess {
    text-decoration: underline;
}

.TypingParagraph .Correct {
    cursor: default;
    text-decoration: underline green;
    color: green;
}

.TypingParagraph .Incorrect {
    background: red;
    border-right: 1px solid;
}

.TypingParagraph .completed {
    color: green;
}

.TypingParagraph textarea {
    display: block;
    width: 500px;
}
