Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnkThumbs.db
ehthumbs.db
ehthumbs_vista.db

.gitignore
.gitattributes
.package-lock.json
/node_**
.idea**
.idea/**
.idea/workspace.xml
*.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
client/public/dist/index.js
package-lock.json
**.xml
.**
/.**
/.*
.node-persist/**
.node-persist/*