.Browser {
  max-height: 80%;
  overflow: auto;

  box-sizing: content-box;
  font-size: $browser-font-size;
  border: $browser-outer-borders;
  border-radius: 2px;
}

.BrowserHeader {
  height: $browser-item-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.BrowserItem {
  height: $browser-item-height;
  padding-top: $browser-inner-borders-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.BrowserColumn {
  background: $browser-background;
  margin-right: $browser-inner-borders-size;
  padding-left: $browser-item-left-padding;
  height: 100%;
  display: flex;
  align-items: center;
}

.Browser .ColumnLarge {
  padding-left: 10px;
  width: 260px;
}

.Browser .ColumnMedium {
  width: 110px;
}

.Browser .ColumnSmall {
  width: 70px;
}

.Browser button {
  width: $browser-item-height * 1.5;
  height: $browser-item-height;
  background: $browser-button-background;
  cursor: pointer;
}
.Browser button:hover {
  background: $browser-button-hover-background
}