.TypingController {
  width: 400px;
  display: flex;
  flex-direction: column;

  background: lightblue;
  padding: 5px;
  align-items: center;
}

.TypingInput {
  width: 95%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.TypingInput Input {
  width: 100%;
  padding: 5px;
}

.TypingParagraph {
  width: 95%;
  padding: 5px;
}

.TypingParagraph span {
  font-size: 20px;
}

.TypingParagraph .inProcess {
  text-decoration: underline;
}

.TypingParagraph .Correct {
  cursor: default;
  text-decoration: underline green;
  color: green;
}

.TypingParagraph .Incorrect {
  background: red;
  border-right: 1px solid;
}

.TypingParagraph .completed {
  color: green;
}

.TypingParagraph textarea {
  display: block;
  width: 500px;
}