.LobbyMenu {
  display: flex;
  justify-content:  space-between;
  background: $lobby-menu-background;
}

.LobbyMenu button {
  color: $lobby-menu-button-text-color;
  background: $lobby-menu-button-background;
  padding: $lobby-menu-button-padding;
  font-size: $lobby-menu-button-font-size;
  border-radius: 0 5px 0 5px;
  cursor: pointer;
}
.LobbyMenu button:hover {
  color: white;
  background: darkgreen;
}
.LobbyMenu .isReady {
  color: white;
  background: green;
}
.LobbyMenu .isReady:hover {
  background: darkgreen;
}
.LobbyMenu .leaveGame:hover {
  color: white;
  background: red;
}

.TypingController {
  width: 510px;
  display: flex;
  flex-direction: column;

  background: $content-background;
  padding: 5px;
  align-items: center;
}

.TypingInput {
  width: 95%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

.TypingInput Input {
  width: 100%;
  padding: 5px;
  color: black;
}

.TypingParagraph {
  width: 95%;
  padding: 5px;
}

.TypingParagraph span {
  font-size: 20px;
}

.TypingParagraph .inProcess {
  text-decoration: underline;
}

.TypingParagraph .Correct {
  cursor: default;
  text-decoration: underline green;
  color: green;
}

.TypingParagraph .Incorrect {
  background: red;
  border-right: 1px solid;
}

.TypingParagraph .completed {
  color: green;
}

.TypingParagraph textarea {
  display: block;
  width: 500px;
}