.Creator {
  border: $creator-border;
  background: $creator-background;
  padding: $creator-padding;
  border-radius: $creator-border-radius;
  flex-grow: 0;
}

.Input {
  width: $creator-width;
  margin-bottom: $creator-item-margins;
  height: $creator-item-height;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.InputName {
  width: $creator-item-name-width;
}

.InputText {
}

.InputText input {
  background: $creator-background;
  height: inherit;
  width: 220px;
  padding-left: 5px;
  flex-grow: 1;
}
.InputText input::placeholder {
  color: $creator-input-placeholder;
};

.InputSlider {
  margin-bottom: $creator-item-margins*2;
}

.InputSlider .rc-slider {
  width: 220px;
  flex-grow: 1;
}
.rc-slider-rail {
  //ackground: white;
}
.rc-slider-track {
  //background: green;
}
.rc-slider-handle {
  //border-color: red;
};
.rc-slider-mark-text {
  color: $creator-slider-text;
}
.rc-slider-mark-text-active {
  color: $creator-slider-text-active;
}

.InputRadio {
  height: $creator-item-height * 2;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.InputRadio .InputDescription {
  display: flex;
  padding-left: $creator-item-name-width;
  width: 100%;
};

.InputRadio button {
  padding: $creator-radio-padding;
  background: $creator-radio-background;
}
.InputRadio button:hover {
  background: $creator-radio-hover-background;
}
.InputRadio .selected {
  background: $creator-radio-hover-background;
}
.createGame {
  display: flex;
  justify-content: space-around;
  padding: $creator-create-game-padding;
}
.createGame button {
  border-radius: 5px;
  padding: $creator-create-game-padding;
  background: $creator-create-game-background;
}
.createGame button:hover {
  background: $creator-create-game-hover-background;
}