.HeaderMenu {
  height: $header-height;
  border-bottom: $header-border;
  background: $header-background;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HeaderTitle {
  font-size: $header-title-font-size;
  padding: $header-title-padding;

  height: 100%;
  box-sizing: content-box;
}

.HeaderTitle:hover {
  background: $header-hover-color;
  cursor: pointer;
}

.HeaderButtons {
  height: 100%;

  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.HeaderButtons button {
  font-size: $header-menu-font-size;
  padding: $header-button-padding;
  color: white;

  margin-right: 5px;
}

.HeaderButtons button:hover {
  background: $header-hover-color;
}

.UserProfile {
  height: 100%;
  position: relative;
}

.ProfileMini {
  padding: $header-button-padding;
  font-size: $header-menu-font-size;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ProfileMini:hover {
  cursor: pointer;
  background: $header-hover-color;
}

.ProfileMiniName {
  padding-right: $default-icon-name-spacing;
}
