.Leaderboard {
  padding: $leaderboard-padding;
  background: $leaderboard-background;
  border: $default-border;
  font-size: $leaderboard-font-size;
  border-radius: 5px;
}

.PlayerScore {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $leaderboard-item-space;
}

.PlayerScore .Place {
  width: $leaderboard-place-width;
  display: flex;
  justify-content: space-around;
}

.PlayerScore .Player {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: $leaderboard-player-width;
  padding-left: $leaderboard-player-left-padding;
}

.PlayerScore .Player .Name {
  padding-left: $default-icon-name-spacing;
}

.PlayerScore .Player svg {
  height: $leaderboard-icon-size;
  width: $leaderboard-icon-size;
}

.PlayerScore .Score {
  width: $leaderboard-score-width;
  display: flex;
  justify-content: flex-end;
}
