$browser-inner-borders: 1px solid rgb(140,140,140);

.Browser {
  display: flex;
  flex-direction: column;

  background: lightgrey;
  border-radius: 10px;

  border: 3px solid;
  border-color: rgb(140,140,140);
  box-shadow: 3px 3px;

  font-size: 20px;
}

.BrowserHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BrowserItem {
  height: 35px;
  border-top: $browser-inner-borders;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BrowserColumn {
  padding: 5px;
  border-right: $browser-inner-borders;
}

.Browser .ColumnLarge {
  width: 260px;
}

.Browser .ColumnMedium {
  width: 120px;
}

.Browser .ColumnSmall {
  width: 70px;
}

.Browser button {
  padding: 5px;
  width: 50px;
  height: 100%;
  cursor: pointer;
}