

@import "globals";

@import "browser";
@import "controller";
@import "creator";
@import "header";
@import "leaderboard";
@import "messenger";
@import "popups";
@import "profile";
@import "raceView";

svg {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 0;
}